In [ ]:
## First Line

In [25]:
# The code was removed by Watson Studio for sharing.

,ID,Exam1,Exam2,Homework,Final,Project,Total Points,Grade,Unnamed: 8,Exam1/200,...,Final/200,Project/100,Total Points.1,Grade.1,Unnamed: 16,900,899,799,699,599
0,100.0,89.0,94.0,88.0,87.0,95.0,899.0,B,B,178.0,...,174.0,95.0,899.0,B,NaN,A,B,C,D,F
1,101.0,78.0,84.0,90.0,89.0,94.0,866.0,B,B,156.0,...,178.0,94.0,866.0,B,NaN,NaN,NaN,NaN,NaN,NaN
2,102.0,71.0,80.0,75.0,79.0,95.0,780.0,C,C,142.0,...,158.0,95.0,780.0,C,NaN,NaN,NaN,NaN,NaN,NaN
3,103.0,95.0,98.0,97.0,96.0,93.0,962.0,A,A,190.0,...,192.0,93.0,962.0,A,NaN,NaN,NaN,NaN,NaN,NaN
4,104.0,79.0,88.0,85.0,88.0,96.0,861.0,B,B,158.0,...,176.0,96.0,861.0,B,NaN,NaN,NaN,NaN,NaN,NaN